*, *::after, *::before{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.code{
  width: 100%;
  height: 100vh;
  padding: 10px;
  font-size: 20px;
  font-family: monospace;
  background: #888;
  border: 0px;
}

.highlighted{
  color: red;
}
